<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-img src="/assets/avatars/{{post.user?.avatar}}"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>{{post.user?.name}}</h2>
      <h3>{{post.user?.email}}</h3>
    </ion-label>
  </ion-item>

  <swiper-container class="image-slide" [slidesPerView]="1" [pagination]="true" [freeMode]="true" [loop]="false">
    <swiper-slide class="image-slide" *ngFor="let img of images" [style]="img | domSanitizer">
    </swiper-slide>
    <swiper-slide class="image-slide" *ngIf="post.coords">
      <app-map [coords]="post.coords"></app-map>
    </swiper-slide>
  </swiper-container>

  <!-- <app-map [coords]="post.coords"></app-map> -->

  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label text--wrap> {{post.message}}</ion-label>
  </ion-item>
</div>
